<% content_for(:html_title) { @episode.title } %>

<div class="container">
  <%= render "partials/header", landing: true %>
  <main>
    <div>
      <div class="title">
        <%= @episode.title %>
        <div class="book-author">
          <%= @episode.book_author %>
        </div>
      </div>
     
      <div class="subtitle">
        <%= @episode.description %>
      </div>
    </div>
    <div>
      <%= @episode.episode_url.html_safe %>
    </div>
    <%= render "partials/rating" %>
  </main>
</div>
