<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? (yield(:html_title) + " | Un livre par semaine") : "Un livre par semaine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-sm">
      <%= yield %>
      <%= render "partials/footer" %>
      <%= console %>
    </div>
  </body>
</html>
